<?xml version="1.0"?>
<Settings component="StartMenu" version="4.3.1">
	<AllProgramsMetro value="0"/>
	<OpenPrograms value="1"/>
	<RecentPrograms value="None"/>
	<ShutdownCommand value="CommandSleep"/>
	<HighlightNew value="0"/>
	<SearchTrack value="0"/>
	<InvertMetroIcons value="0"/>
	<MainMenuAnimation value="Fade"/>
	<SubMenuAnimation value="Fade"/>
	<SkinW7 value="Windows Aero"/>
	<SkinVariationW7 value=""/>
	<SkinOptionsW7>
		<Line>USER_IMAGE=1</Line>
		<Line>SMALL_ICONS=1</Line>
		<Line>LARGE_FONT=0</Line>
		<Line>ICON_FRAMES=1</Line>
		<Line>OPAQUE=0</Line>
	</SkinOptionsW7>
	<CustomTaskbar value="0"/>
	<TaskbarLook value="Transparent"/>
	<SkipMetro value="1"/>
</Settings>
