<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="discord" />
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="chocolateygui" />
  <package id="git" />
  <package id="GoogleChrome" />
  <package id="imdisk" />
  <package id="qbittorrent" />
  <package id="speedfan" />
  <package id="steam" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="windirstat" />
  <package id="yumi-uefi" />
  <package id="google-backup-and-sync" />
  <package id="steelseries-engine" />
  <package id="goggalaxy" />
  <package id="virtualbox" />
</packages>
